[Unit]
Description=Check CPO log capacity every hour

[Timer]
OnCalendar=hourly
RandomizedDelaySec=2m
Persistent=true

[Install]
WantedBy=timers.target
